# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [1]:
lista1 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [3]:
lista2 = ["Maciel","Dara","Michel","Gilson","David"]

In [4]:
lista2

['Maciel', 'Dara', 'Michel', 'Gilson', 'David']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [5]:
palavra = "Maciel Terra Paiva"

In [6]:
palavra

'Maciel Terra Paiva'

In [7]:
palavra1 = " & Dara de Lima Monteiro"

In [8]:
palavra1

' & Dara de Lima Monteiro'

In [9]:
frase = palavra + palavra1

In [10]:
frase

'Maciel Terra Paiva & Dara de Lima Monteiro'

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [20]:
tupla1 = (1,2,2,3,4,4,5)

In [21]:
tupla1

(1, 2, 2, 3, 4, 4, 5)

In [22]:
tupla1.count(6)

0

In [18]:
del tupla1

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [27]:
dic1 = {}

In [28]:
dic1

{}

In [38]:
dic1 = {"Gilson":67,"maciel":39,"Dara":21,"Jussara":57}

In [39]:
dic1

{'Gilson': 67, 'maciel': 39, 'Dara': 21, 'Jussara': 57}

In [40]:
len(dic1)

4

In [42]:
dic1.keys()

dict_keys(['Gilson', 'maciel', 'Dara', 'Jussara'])

In [48]:
dic1.values()

dict_values([67, 39, 21, 57])

In [49]:
valores = dic1.values()

In [51]:
valores.sort()

AttributeError: 'dict_values' object has no attribute 'sort'

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [1]:
dicionario = {"maciel":39,"Altura":1.84, "CPF - RG":[96612827068,9077030709]}

In [5]:
dicionario["Altura"]

1.84

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [14]:
lista2 = ["Tavares",("Rio Grande do Sul","RS"),{"RS":500, "PR":400},1.84]

In [17]:
lista2

['Tavares', ('Rio Grande do Sul', 'RS'), {'RS': 500, 'PR': 400}, 1.84]

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [19]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [20]:
frase

'Cientista de Dados é o profissional mais sexy do século XXI'

In [24]:
frase[1:][:20]

'ientista de Dados é '

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>